.card {
  width: 371px;
  height: 372px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
}

.top-section {   
  box-sizing: border-box;
  height: 126px;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 26px 30px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 70px;
  margin: 0px;
}

.emoji {
  font-size: 70px;
  line-height: 70px;
}

.light-part {
  box-sizing: border-box;
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

h2 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  margin: 0px;
}

button {
  height: 50px;
  width: 311px;
  border-radius: 8px;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  line-height: 35px;
  cursor: pointer;
}

/* Styling for clicked card */
.clicked-card .top-section,
.clicked-card .light-part {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: absolute;
  width: 100%;
  z-index: 0;
  transition: 1s ease;
}

/* Difference on top and bottom part */
.clicked-card .top-section {
  top: 0;
}

.clicked-card .light-part {
  top: 50%;
}

/* hover effect on both parts*/
.clicked-card .light-part:hover,
.clicked-card .top-section:hover {
  transition: 1s;
  height: 100%;
  z-index: 99;
  top: 0;
}


